#root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 1280px; */
  /* margin: 100px auto; */
  /* padding: 2rem; */
  text-align: center;
}

.tree-node{
  outline: 1px solid lime;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px
}



