#root{outline:1px solid lime}

.div_main{
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 800px;
  width: 1000px;
  outline: 1px solid lime;
}

.baksa{
  width: 800px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.node{
  margin: 70px;
  /* width: 500px;

  height: 50px; */
  outline: 1px solid blue;
}

.node_end{
  margin: 70px;
  /* width: 500px;
  height: 50px; */
  outline: 1px solid red;
}